doctype html
html(lang='en')
  head
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js')
    script(type='text/javascript', src='https://www.google.com/jsapi')
    script(type='text/javascript', src='javascripts/chart-app.js')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title This is the CSS for Exercise 7
    // Bootstrap core CSS
    link(href='../../dist/css/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='stylesheets/jumbotron-narrow.css', rel='stylesheet')
    // Just for debugging purposes. Don't actually copy these 2 lines!
    //if lt IE 9
      script(src='../../assets/js/ie8-responsive-file-warning.js')
    script(src='../../assets/js/ie-emulation-modes-warning.js')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body(ng-app='simple-chart')
    .container
      .header.clearfix
        nav
          ul.nav.nav-pills.pull-right
            li.active(role='presentation')
              a(href='#') Home
            li(role='presentation')
              a(href='#') About
            li(role='presentation')
              a(href='#') Projects
            li(role='presentation')
              a(href='#') Assignments
            li(role='presentation')
              a(href='#') Contact
        h3.text-muted ISYS - 475 Exercise 7 CSS styling
      .jumbotron
        h1 This is CSS.
        p.lead
          | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        p
          a.btn.btn-lg.btn-success(href='#', role='button') Sign up today
      .row.thischart
        .col-md-2
          h4 Sales Report History
          p This is a paragraph.
          p Student: Michael R. Comilang
          p ID: #913123242
          p Copyright @ MicuStudio
        .row.hellochart
          .col-md-6
            div(ng-controller='MainController')
              #user
              h1.text-center.login-title Welcome #{user.firstName}. Check your details below:
              div.signup-wall
              ul.user-details
              li Username ---> #{user.username}
              li Email    ---> #{user.email}
              li First Name ---> #{user.firstName} 
              li Last Name ---> #{user.lastName}
              a(href='/signout', class='text-center new-account') Sign Out
              #chart_div
      .row.marketing
        .col-lg-6
          h4 Fast
          p
            | Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
          h4 Reliable
          p
            | Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
          h4 Zero-Overhead
          p Maecenas sed diam eget risus varius blandit sit amet non magna.
        .col-lg-6
          h4 Cost-Saving
          p
            | Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
          h4 User-Friendly
          p
            | Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
          h4 Frequent-Updates
          p Maecenas sed diam eget risus varius blandit sit amet non magna.
      footer.footer
        p © Company 2014
    // /container
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='../../assets/js/ie10-viewport-bug-workaround.js')
